.triangle-form {
    .triangle-form__result {
        background-color: rgb(114, 177, 72);
        color: #ffff;
    }

    .triangle-form__submit {
        float: right;
    }

    .triangle-form__tools {
        float: right;
    }
}
